@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap);
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

body, p, h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

.container {
  max-width: 1186px;
  margin: 0 auto;
  padding: 0 12px; }

.container--big {
  max-width: 100%;
  width: calc( 1920px - 48px); }

.container--small {
  max-width: 100%;
  width: calc( 924px - 48px); }

h1.title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: #212121; }

h2.title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.02em;
  color: #212121; }

h3.title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.02em;
  color: #212121; }

h4.title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: #212121; }

h5.title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #212121; }

h6.title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #212121; }

@media (max-width: 768px) {
  h1.title {
    font-size: 32px;
    line-height: 110%; }
  h2.title {
    font-size: 32px;
    line-height: 110%; }
  h3.title {
    font-size: 32px;
    line-height: 110%; }
  h4.title {
    font-size: 24px;
    line-height: 110%; } }

.main-btn {
  padding: 16px 32px;
  background: #0F4C81;
  color: #fff;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Raleway'; }
  .main-btn--back {
    padding: 8px 32px 8px 36px; }
    .main-btn--back .main-btn__icon {
      fill: #fff;
      margin-right: 12px;
      transform: rotate(180deg); }
  .main-btn--small {
    padding: 8px 14px; }
  .main-btn--medium {
    font-size: 24px; }
  .main-btn:hover {
    background: #527EA4;
    transition: .3s; }
  .main-btn:active {
    background: #07243C;
    color: #fff; }
  .main-btn--accent-color {
    background: #fff;
    color: #0F4C81; }
    .main-btn--accent-color:hover {
      background: #07243C;
      color: #fff;
      transition: .3s; }
  .main-btn--ghost {
    background: transparent;
    border: 1px solid #C4C4C4;
    color: #212121; }
  .main-btn--ghost:hover {
    transition: .3s;
    background: transparent;
    border: 1px solid #E1E5E9; }
  .main-btn--ghost:active {
    border: 1px solid #0F4C81;
    color: #0F4C81; }

@media (max-width: 768px) {
  .main-btn--medium {
    font-size: 14px; } }

.switcher {
  border: 1px solid #0F4C81;
  border-radius: 12px;
  display: flex;
  cursor: pointer; }
  .switcher-label {
    cursor: pointer;
    display: flex; }
  .switcher__btn {
    color: #0F4C81;
    padding: 18px 32px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    transition: .3s;
    font-family: 'Raleway';
    font-size: 16px; }
    .switcher__btn:hover {
      background: #527EA4;
      color: #fff;
      transition: .3s; }
  .switcher__input {
    display: none; }
  .switcher__input:checked + .switcher__btn-second {
    color: #fff;
    background: #0F4C81; }
    .switcher__input:checked + .switcher__btn-second:hover {
      background: #0F4C81; }

.switcher__input--female:checked + .switcher__btn-first {
  color: #fff;
  background: #0F4C81; }

.switcher__input--male:checked + .switcher__btn-second {
  color: #fff;
  background: #0F4C81; }

@media (max-width: 1366px) and (max-height: 768px) {
  .switcher__btn {
    padding: 16px 32px; } }

@media (max-width: 768px) {
  .switcher {
    border-radius: 10px; }
    .switcher-label {
      padding: 0;
      flex-grow: 1; }
    .switcher__btn-first {
      padding: 8px 16px;
      border-radius: 8px; }
    .switcher__btn-second {
      padding: 8px 16px;
      border-radius: 8px; } }

.dropdown__head {
  padding: 20px 24px;
  background: #F0F2F4;
  border-radius: 8px;
  cursor: pointer; }

.dropdown__body {
  transition: .5s;
  overflow: hidden; }

.dropdown__paragraph {
  color: #212121;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em; }

.dropdown__hide-content {
  padding: 16px 24px;
  display: flex;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #212121; }

.dropdown__head {
  display: flex;
  align-items: center; }

.dropdown__icon {
  margin-left: auto;
  transform: rotate(90deg);
  transition: .3s; }

.dropdown.active .dropdown__icon {
  fill: #F0F2F4;
  transform: rotate(-90deg);
  transition: .3s; }

.dropdown.active .dropdown__head {
  background: #0F4C81; }

.dropdown.active:hover .dropdown__head {
  background: #0F4C81; }

.dropdown.active .dropdown__paragraph {
  color: #F0F2F4; }

.dropdown:hover .dropdown__head {
  background: #E1E5E9;
  transition: .3s; }

.dropdown:active .dropdown__head {
  background: #C4C4C4;
  transition: .3s; }

.navigation--column .navigation-list {
  flex-direction: column; }

.navigation--column .navigation-list__item {
  margin-bottom: 16px;
  padding: 0; }

.navigation--column .navigation-list__item:last-child {
  padding: 0;
  margin-bottom: 0; }

.navigation-list {
  display: flex;
  list-style: none; }
  .navigation-list__link {
    text-decoration: none;
    white-space: nowrap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #212121; }
  .navigation-list__item {
    padding: 0 40px;
    display: flex;
    align-items: center; }
  .navigation-list__item--opacity .list__link {
    color: rgba(33, 33, 33, 0.5);
    pointer-events: none; }
  .navigation-list__item:last-child {
    padding: 0 20px; }

.navigation__icon--gap {
  margin-right: 8px; }

.body .header {
  margin-bottom: 40px; }

h1.header__title {
  color: #fff; }

.header {
  background-image: url(../img/background_main_2.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: cover; }
  .header__container {
    padding-bottom: 120px;
    padding-top: 80px; }
  .header__title {
    margin-bottom: 40px;
    max-width: 587px; }
  .header__paragraph {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 439px;
    margin-bottom: 40px; }
  .header__wrapper {
    display: flex; }
  .header__main-btn {
    margin-bottom: 80px; }
  .header__icon {
    margin-right: 24px; }
  .header__icon:last-child {
    margin-right: 24px; }
  .header__logo-market {
    max-width: 216px; }
  .header .head {
    margin-bottom: 80px; }

@media (max-width: 1536px) and (max-height: 960px) {
  .body .header {
    height: calc(761px + 96px);
    margin-bottom: 120px; }
  .header__paragraph {
    margin-bottom: 24px; } }

@media (max-width: 1440px) and (max-height: 900px) {
  .body .header {
    margin-bottom: 120px;
    height: calc(701px + 96px); } }

@media (max-width: 1536px) and (max-height: 864px) {
  .body .header {
    height: calc(665px + 96px);
    margin-bottom: 120px; }
    .body .header__container {
      background-size: 80%; } }

@media (max-width: 1366px) and (max-height: 768px) {
  .body .header {
    height: calc(569px + 96px);
    margin-bottom: 120px; }
    .body .header__container {
      background-size: 70%; } }

@media (max-width: 1280px) and (max-height: 720px) {
  .body .header {
    margin-bottom: 120px;
    height: calc(521px + 96px); }
    .body .header__container {
      background-size: 65%; } }

@media (max-width: 768px) {
  .body .header {
    margin-bottom: 32px; }
  .header {
    background-repeat: no-repeat; }
    .header__icon {
      margin-right: 0; }
    .header__container {
      background-image: none;
      padding-bottom: 90px; }
    .header__title {
      margin-bottom: 24px; }
    .header__paragraph {
      font-size: 20px;
      margin-bottom: 32px; } }

@media (max-width: 576px) {
  .header__paragraph {
    font-size: 20px;
    margin-bottom: 24px; }
  .header__wrapper {
    flex-direction: column; }
  .header__icon {
    margin-bottom: 8px; }
  .header__icon:last-child {
    margin-bottom: 0; }
  .header__main-btn {
    margin-bottom: 24px; }
  .header .head {
    margin-bottom: 32px; } }

.body .section-users {
  margin-bottom: 80px; }

.section-users__title {
  margin-bottom: 40px; }

.section-users__title--mobile {
  display: none; }

.section-users__switcher {
  margin-bottom: 40px;
  max-width: 282px; }

.section-users .gallery-list {
  margin: 0 -4px; }

@media (max-width: 1366px) and (max-height: 768px) {
  .body .header {
    height: calc(569px + 96px); }
    .body .header__container {
      background-size: 70%; } }

@media (max-width: 1280px) and (max-height: 720px) {
  .body .header {
    height: calc(521px + 96px); }
    .body .header__container {
      background-size: 65%; } }

@media (max-width: 1340px) {
  .body .section-users {
    overflow: hidden; } }

@media (max-width: 768px) {
  .body .section-users {
    margin-bottom: 64px; }
  .section-users__switcher {
    margin-bottom: 32px; }
  .section-users__title {
    display: none; }
  .section-users__title--mobile {
    display: block;
    margin-bottom: 32px; } }

.head {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center; }
  .head__logo {
    margin-right: auto; }
  .head__cabine-nav {
    margin-left: auto;
    margin-right: 64px; }
  .head__container {
    display: flex;
    align-items: center;
    width: 1320px; }

@media (max-width: 991px) {
  .head__main-btn {
    display: none; }
  .head__cabine-nav {
    margin-right: 0; } }

@media (max-width: 768px) {
  .head__navigation {
    display: none; }
  .cabinet-nav .list__item:last-child {
    padding: 0; } }

.list {
  display: flex;
  list-style: none; }
  .list__link {
    text-decoration: none;
    white-space: nowrap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #212121; }
  .list__item {
    padding: 0 40px;
    display: flex;
    align-items: center; }
  .list__item--opacity .list__link {
    color: rgba(33, 33, 33, 0.5); }
  .list__item:last-child {
    padding: 0 20px; }

.gallery-list {
  display: none;
  flex-wrap: wrap; }
  .gallery-list__gallery-item {
    width: 189px;
    margin: 0 3px 16px 3px; }
  .gallery-list--show {
    display: flex; }

.gallery-item {
  list-style: none;
  cursor: pointer;
  position: relative; }
  .gallery-item:hover .gallery-item__hide-content {
    opacity: 1;
    transition: .3s; }
  .gallery-item__head {
    border-radius: 8px 8px 0 0;
    overflow: hidden; }
  .gallery-item__body {
    box-shadow: 0 16px 24px rgba(33, 33, 33, 0.07), 0 7px 12px rgba(33, 33, 33, 0.03);
    border-radius: 0 0 8px 8px;
    background: #fff;
    padding: 16px 24px; }
  .gallery-item__wrapper {
    display: flex;
    margin-bottom: 8px;
    align-items: center; }
  .gallery-item__age {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #212121; }
  .gallery-item__paragraph {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: rgba(33, 33, 33, 0.25); }
  .gallery-item__hide-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8px;
    opacity: 0;
    transition: .3s; }
  .gallery-item__head {
    height: 192px;
    position: relative; }
  .gallery-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .gallery-item__online-indicator.gallery-item__online-indicator--true {
    background: #2FC97F;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: 8px; }
  .gallery-item__verifyed {
    position: absolute;
    bottom: 8px;
    left: 8px; }

.verifyed {
  background: rgba(33, 33, 33, 0.25);
  padding: 4px 8px;
  border-radius: 8px;
  display: flex;
  align-items: center; }
  .verifyed__paragraph {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    margin-left: 4px; }

.hide-content {
  display: flex;
  flex-direction: column;
  background: #0F4C81;
  align-items: center;
  justify-content: center; }
  .hide-content__paragraph {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px; }

@media (max-width: 1366px) and (max-height: 768px) {
  .gallery-item__head {
    height: 145px; } }

@media (max-width: 1280px) and (max-height: 720px) {
  .gallery-item__head {
    height: 121px; } }

@media (max-width: 1340px) {
  .gallery-list__gallery-item {
    flex-grow: 1;
    max-width: calc(100%/5 - 5px); }
  .gallery-item__img {
    width: 100%; } }

@media (max-width: 991px) {
  .gallery-list__gallery-item {
    flex-grow: 1;
    max-width: calc(100%/4 - 6px); } }

@media (max-width: 768px) {
  .gallery-list__gallery-item {
    flex-grow: 1;
    max-width: calc(100%/3 - 6px); }
  .gallery-item__body {
    padding: 9px 8px; } }

@media (max-width: 576px) {
  .gallery-list__gallery-item {
    flex-grow: 1;
    max-width: calc(100%/2 - 6px); }
  .gallery-list__gallery-item:nth-child(n+7) {
    display: none; }
  .gallery-item__wrapper {
    margin-bottom: 5px; }
  .gallery-item__paragraph {
    font-size: 10px; }
  .gallery-item__head {
    height: 128px; }
  .hide-content__paragraph {
    font-size: 14px; }
  .hide-content__main-btn {
    font-size: 12px; } }

.example-profiles {
  overflow: hidden; }
  .example-profiles__title {
    max-width: 758px;
    margin: 0 auto 40px auto;
    text-align: center; }
  .example-profiles__example-profile {
    margin-bottom: 80px; }

h3.example-profile__title {
  color: #0F4C81; }

.example-profile {
  display: flex; }
  .example-profile__block {
    position: relative; }
  .example-profile__img-profile {
    box-shadow: 0 2px 16px 0  #00000040;
    border-radius: 16px; }
  .example-profile__img-profile--mobile {
    display: none; }
  .example-profile__icon--order {
    order: -1;
    position: relative;
    top: 90px;
    right: -250px; }
  .example-profile__icon {
    margin-bottom: 32px; }
  .example-profile__title {
    margin-bottom: 16px;
    max-width: 375px; }
  .example-profile__paragraph {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: #212121;
    max-width: 375px; }
  .example-profile__box-text--gap {
    margin-top: 112px; }
  .example-profile__wrapper-img {
    display: flex; }
  .example-profile__wrapper-img--gap-r {
    margin-right: 24px; }
  .example-profile__box-text {
    display: flex;
    flex-direction: column; }
  .example-profile__box-text--gap-r {
    margin-right: 24px; }
  .example-profile__icon--gap-right {
    margin-right: 18px; }
  .example-profile__lenta-profile {
    height: 392px; }
  .example-profile--first .example-profile__icon--mobile {
    display: none; }
  .example-profile--second .example-profile__icon--mobile {
    display: none; }
  .example-profile--third .example-profile__icon--mobile {
    display: none; }
  .example-profile--third {
    margin-bottom: 0;
    padding-left: calc((100vw - 1175px ) / 2);
    position: relative; }
    .example-profile--third .example-profile__lenta-profile {
      position: absolute;
      right: -60px; }
    .example-profile--third .example-profile__box-text {
      display: flex; }
    .example-profile--third .example-profile__icon {
      margin-left: 210px; }

.lenta-profile {
  display: flex;
  background: #fff;
  box-shadow: 0 4px 24px rgba(33, 33, 33, 0.07), 0 7px 12px rgba(33, 33, 33, 0.03);
  border-radius: 16px;
  padding: 24px 0 24px 24px; }
  .lenta-profile__img {
    margin-right: 24px; }
  .lenta-profile__img:last-child {
    margin-right: 0; }

@media (max-width: 1800px) {
  .example-profile--third .example-profile__lenta-profile {
    position: unset;
    overflow: hidden; } }

@media (max-width: 1340px) {
  .lenta-profile {
    overflow: auto; }
  .example-profile--third .example-profile__box-text {
    margin-left: 12px; } }

@media (max-width: 1300px) {
  .example-profile {
    flex-direction: column; }
    .example-profile__icon {
      display: none; }
    .example-profile__title {
      max-width: 100%; }
    .example-profile__paragraph {
      max-width: 100%;
      margin-bottom: 24px; }
    .example-profile__img-profile {
      max-width: 100%; }
    .example-profile__logo {
      display: none; }
    .example-profile__wrapper-img {
      order: 1; }
    .example-profile__icon--gap-top {
      margin-top: 0; }
    .example-profile__icon--gap-right {
      margin-right: 0; }
    .example-profile__box-text--gap {
      margin-top: 0; }
    .example-profile--first {
      margin-bottom: 32px; }
    .example-profile--third .example-profile__lenta-profile {
      overflow: auto; }
  .example-profile--second .example-profile__icon {
    display: none; } }

@media (max-width: 991px) {
  .example-profile__lenta-profile {
    height: 200px; } }

@media (max-width: 768px) {
  h3.example-profile__title {
    font-size: 24px; }
  .example-profile__icon--order {
    display: none; }
  .example-profile__lenta-profile {
    display: none; }
  .example-profile--first .example-profile__wrapper {
    flex-direction: row-reverse; }
  .example-profile--first .example-profile__icon--mobile {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0; }
  .example-profile--second .example-profile__icon--mobile {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 62px; }
  .example-profile--third .example-profile__icon--mobile {
    display: flex;
    position: absolute;
    bottom: -40px;
    left: 22px; }
  .example-profile--third .example-profile__icon {
    margin-left: 0; }
  .example-profile__wrapper {
    display: flex; }
  .example-profile__wrapper-img {
    display: none; }
  .example-profile__img-profile--mobile {
    display: flex;
    margin-top: -20px; }
  .example-profile__img-profile--order {
    order: -1; }
  .example-profile__paragraph {
    position: relative;
    font-size: 14px; }
  .example-profiles__title {
    text-align: left; } }

@media (max-width: 576px) {
  .example-profile--second {
    margin-bottom: 32px; }
  .example-profile__box-text--gap-r {
    margin-right: 0; } }

@media (max-width: 460px) {
  .example-profile--third .example-profile__paragraph {
    min-width: 50%; }
  .example-profile--third .example-profile__img-profile--mobile {
    min-width: 140px;
    width: 50%; } }

@media (max-width: 345px) {
  .example-profile--first .example-profile__icon--mobile,
  .example-profile--second .example-profile__icon--mobile,
  .example-profile--third .example-profile__icon--mobile {
    display: none; } }

.section-premium {
  background: url(../img/background-premium.svg);
  padding: 160px 0; }

.banner {
  background: #0F4C81;
  border-radius: 32px;
  padding: 36px 32px 40px 32px; }
  .banner__icon {
    display: block; }
  .banner__wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 24px; }
  .banner__icon--center {
    margin: 0 auto 0 auto; }
  .banner__icon--gap-bottom {
    margin-bottom: 30px; }
  .banner__icon--gap-right {
    margin-right: 12px; }
  .banner__paragraph {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    margin: 0 auto 40px auto;
    max-width: 863px; }
  .banner__banner-card {
    max-width: 401px;
    margin-right: 24px; }
  .banner__banner-card:last-child {
    margin-right: 0; }
  .banner__block {
    display: flex;
    margin-bottom: 40px; }
  .banner__main-btn {
    margin: 0 auto; }

.banner-card {
  background: #fff;
  border-radius: 24px;
  padding: 32px 32px 57px 32px; }
  .banner-card__icon {
    margin: 0 auto 34px auto;
    display: block; }
  .banner-card__paragraph {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #212121;
    max-width: 337px;
    margin: 0 auto; }

@media (max-width: 1536px) and (max-height: 960px) {
  .section-premium {
    padding: 80px; } }

@media (max-width: 1366px) and (max-height: 768px) {
  .section-premium {
    padding: 40px; } }

@media (max-width: 1280px) and (max-height: 720px) {
  .banner__paragraph {
    font-size: 16px; }
  .banner-card__paragraph {
    font-size: 14px; } }

@media (max-width: 991px) {
  .banner {
    padding: 35px 16px 32px 16px; }
    .banner__banner-card:last-child {
      margin-bottom: 0;
      padding: 36px 16px 40px 16px; }
    .banner__block {
      flex-direction: column; }
    .banner__banner-card {
      margin-right: 0;
      margin-bottom: 16px;
      max-width: 100%; }
    .banner-card {
      padding: 16px; } }

@media (max-width: 768px) {
  .section-premium {
    padding: 0; }
    .section-premium__container {
      padding: 0; }
  .banner {
    border-radius: 0; }
    .banner-card__paragraph {
      font-size: 14px; }
    .banner__block {
      margin-bottom: 32px; } }

.section-about {
  padding: 40px 0 80px 0;
  overflow: hidden; }
  .section-about__title {
    margin-bottom: 40px; }
  .section-about__vector {
    background-image: url(../img/vector.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 400px;
    position: relative;
    top: -150px; }
  .section-about__main-btn {
    margin: 0 auto; }

.step-list {
  list-style: none;
  display: flex; }
  .step-list__title {
    margin-bottom: 16px;
    max-width: 319px; }
  .step-list__paragraph {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121; }
  .step-list__block-text {
    display: flex;
    flex-direction: column; }
  .step-list__paragraph {
    max-width: 200px; }
  .step-list__item {
    display: flex; }
  .step-list__item--gap-top {
    margin-top: calc( 274px - 96px); }
  .step-list__item--first .step-list__block-text {
    margin-left: -55px;
    margin-top: 28px; }
  .step-list__item--second .step-list__block-text {
    margin-left: -80px;
    margin-top: 16px; }
  .step-list__item--third .step-list__block-text {
    margin-left: -90px;
    margin-top: 50px; }
  .step-list__part-vector {
    display: none; }

.vector__step-list {
  justify-content: space-between; }

@media (max-width: 1230px) {
  .step-list__item--second .step-list__block-text {
    margin-left: -50px;
    margin-top: 16px; } }

@media (max-width: 991px) {
  .step-list {
    flex-direction: column; }
    .step-list__item--gap-top {
      margin-top: 0; }
  .section-about {
    position: relative;
    padding: 40px 0 0 0; }
    .section-about__step-list .step-list__item {
      margin-bottom: 200px; }
    .section-about__vector {
      background-image: none;
      position: absolute;
      top: 330px; }
    .section-about__main-btn {
      display: none; }
  .vector__step-list {
    align-items: flex-end; }
    .vector__step-list .step-list__item {
      margin-bottom: 230px; }
    .vector__step-list .step-list__item:last-child {
      margin-bottom: 0; }
  .vector__icon {
    width: 160px;
    height: 160px; } }

@media (max-width: 768px) {
  .section-about__title {
    margin-bottom: 32px; }
  .step-list__item--first .step-list__icon {
    width: 136px;
    height: 182px; }
  .step-list__item--second .step-list__icon {
    width: 150px;
    height: 182px; }
  .step-list__item--third .step-list__icon {
    width: 123px;
    height: 182px; }
  .step-list__item--third .step-list__block-text {
    margin-left: -30px;
    margin-top: 30px; }
  .vector__step-list .step-list__item--first {
    position: relative;
    top: -40px; }
  .vector__step-list .step-list__item--second {
    position: relative;
    top: -70px; }
  .vector__step-list .step-list__item--third {
    position: relative;
    top: -100px; } }

@media (max-width: 576px) {
  .step-list__part-vector {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 150vw;
    z-index: -1;
    transform: translateX(-50%) translateY(-30%);
    top: 40px; } }

.section-comments {
  padding-top: 40px;
  background: #fff; }
  .section-comments__container {
    position: relative; }
  .section-comments__title {
    width: 583px;
    margin-bottom: 97px;
    z-index: 1;
    position: relative; }
  .section-comments__slider {
    width: 880px;
    margin: -120px auto 0 auto;
    height: 630px; }
  .section-comments__wrapper {
    position: absolute;
    top: 0;
    left: 159px;
    transform: translateY(-40%); }

.slider {
  position: relative; }
  .slider-arrow {
    background: #fff;
    border-radius: 50%;
    min-height: 32px;
    max-width: 32px;
    min-width: 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%; }
    .slider-arrow:hover {
      background: #0F4C81;
      transition: .3s;
      fill: #fff; }
    .slider-arrow--prev {
      left: -56px;
      transform: rotate(180deg) translateY(50%);
      filter: drop-shadow(0px -5px 8px rgba(33, 33, 33, 0.3)); }
    .slider-arrow--next {
      right: -56px;
      transform: translateY(-50%);
      filter: drop-shadow(0px 5px 8px rgba(33, 33, 33, 0.3)); }
  .slider .slick-slider {
    height: 100%; }
  .slider .slick-list {
    height: 100%; }
  .slider .slick-track {
    height: 100%; }
  .slider .slick-slide > div {
    height: 100%; }

.slider-content__slide {
  height: 100%; }

.slider-content__icon--heart {
  position: absolute;
  right: -40px;
  left: unset;
  bottom: -50px; }

.slide {
  position: relative; }
  .slide__icon {
    position: absolute;
    bottom: 0;
    left: 100px; }
  .slide__blockquote-slide {
    max-width: 402px;
    margin-top: 69px;
    margin-left: 370px;
    display: block; }
  .slide--for-man .slide__icon {
    left: unset;
    right: 60px;
    bottom: 0; }
  .slide--for-man .slide__blockquote-slide {
    margin-left: 80px;
    margin-top: 180px; }

.blockquote-slide {
  background: #fff;
  padding: 24px 24px 24px 67px;
  border-radius: 8px;
  position: relative; }
  .blockquote-slide__paragraph {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #212121;
    margin-bottom: 24px; }
  .blockquote-slide__author {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #212121; }

@media (max-width: 991px) {
  .section-comments {
    display: none; } }

.section-out-blog {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #F0F2F4; }
  .section-out-blog__title {
    margin-bottom: 80px; }
  .section-out-blog__list-posts {
    margin: 0 -12px 40px -12px; }
  .section-out-blog__main-btn {
    margin: 0 auto; }

.list-posts {
  list-style: none;
  display: flex; }
  .list-posts__img-post {
    object-fit: cover;
    width: 100%; }
  .list-posts__item {
    margin: 0 12px;
    border-radius: 8px;
    overflow: hidden;
    max-width: calc( 100%/3);
    background: #fff;
    box-shadow: 0 16px 24px rgba(33, 33, 33, 0.07), 0 7px 12px rgba(33, 33, 33, 0.03); }
  .list-posts__paragraph {
    padding: 20px 24px 32px 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #212121; }

@media (max-width: 991px) {
  .section-out-blog__title {
    margin-bottom: 32px; }
  .list-posts {
    flex-wrap: wrap; }
    .list-posts__item {
      max-width: calc( 100%/2 - 24px);
      margin-bottom: 24px; } }

@media (max-width: 768px) {
  .list-posts__paragraph {
    font-size: 20px;
    padding: 16px 16px 32px 16px; } }

@media (max-width: 576px) {
  .list-posts__item:nth-child(n+2) {
    display: none; }
  .list-posts__item {
    max-width: calc( 100% - 24px);
    margin-bottom: 24px; } }

.section-question {
  padding: 40px 0 80px 0;
  background: #fff; }
  .section-question__title {
    margin-bottom: 40px; }
  .section-question__dropdown {
    margin-bottom: 24px; }
  .section-question__dropdown:last-child {
    margin-bottom: 0; }

@media (max-width: 768px) {
  .section-question {
    padding: 32px 0;
    background: #F0F2F4; }
    .section-question__dropdown .dropdown__head {
      background: #E1E5E9; } }

h3.section-action__title {
  color: #fff; }

.section-action {
  padding: 80px 0;
  background: #0F4C81; }
  .section-action__title {
    margin-bottom: 40px;
    text-align: center; }
  .section-action__main-btn {
    margin: 0 auto; }

@media (max-width: 768px) {
  h3.section-action__title {
    font-size: 20px; }
  .section-action {
    padding: 32px 0; }
    .section-action__title {
      margin-bottom: 16px; } }

.social-network-list {
  display: flex;
  list-style: none;
  align-items: center; }
  .social-network-list__link {
    display: flex; }
  .social-network-list__item {
    margin-right: 36px;
    position: relative; }
  .social-network-list__item:last-child {
    margin-right: 0; }
  .social-network-list__item:hover .social-network-list__icon {
    fill: #0F4C81;
    transition: .3s; }
  .social-network-list__icon {
    fill: rgba(33, 33, 33, 0.5); }
  .social-network-list--decoration .social-network-list__item:before {
    content: '';
    display: flex;
    width: 2.5px;
    height: 2.5px;
    background: #212121;
    border-radius: 100%;
    position: absolute;
    left: -24px;
    top: 50%; }

h5.footer__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: rgba(33, 33, 33, 0.5); }

.footer {
  padding: 40px 0 40px 0; }
  .footer__head {
    padding-bottom: 40px; }
  .footer__navs {
    display: flex; }
  .footer__navigation {
    margin-right: 80px; }
    .footer__navigation .navigation-list__item:not(.navigation-list__item--opacity):hover .list__link {
      color: #0F4C81; }
  .footer__navigation:last-child {
    margin-right: 0; }
  .footer__wrapper {
    display: flex; }
  .footer__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    margin-bottom: 16px; }
  .footer__block {
    margin-left: auto;
    display: flex;
    flex-direction: column; }
  .footer__copyright {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    letter-spacing: 0.02em;
    color: #212121;
    flex-grow: 1; }

@media (max-width: 1130px) {
  .footer__navs {
    margin-bottom: 32px; }
  .footer__wrapper {
    flex-direction: column; }
  .footer__block {
    margin-left: 0; }
  .footer__social-network-list {
    margin-bottom: 36px; }
  .footer__navigation {
    margin-right: auto; }
    .footer__navigation .list__item {
      margin-right: 0; } }

@media (max-width: 768px) {
  .footer {
    padding: 32px 24px 32px 24px; }
    .footer__navs {
      flex-wrap: wrap;
      width: 100%; }
    .footer__navigation {
      margin-right: 24px;
      margin-bottom: 32px; }
    .footer__navigation:nth-child(even) {
      margin-right: 0; }
    .footer__navigation:nth-child(odd) {
      width: 40%;
      margin-right: auto; }
    .footer__navigation:nth-child(n+2) {
      margin-bottom: 0; } }

@media (max-width: 460px) {
  .footer {
    padding: 24px 12px 24px 12px; } }

