@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poiret+One&display=swap);
body, p, h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

.container {
  max-width: 1186px;
  margin: 0 auto;
  padding: 0 12px; }

.container--big {
  max-width: 100%;
  width: calc( 1920px - 48px); }

.container--small {
  max-width: 100%;
  width: calc( 924px - 48px); }

h1.title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: #212121; }

h2.title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.02em;
  color: #212121; }

h3.title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.02em;
  color: #212121; }

h4.title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: #212121; }

h5.title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #212121; }

h6.title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #212121; }

@media (max-width: 768px) {
  h1.title {
    font-size: 32px;
    line-height: 110%; }
  h2.title {
    font-size: 32px;
    line-height: 110%; }
  h3.title {
    font-size: 32px;
    line-height: 110%; }
  h4.title {
    font-size: 24px;
    line-height: 110%; } }

.main-btn {
  padding: 16px 32px;
  background: #0F4C81;
  color: #fff;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Raleway'; }
  .main-btn--back {
    padding: 8px 32px 8px 36px; }
    .main-btn--back .main-btn__icon {
      fill: #fff;
      margin-right: 12px;
      transform: rotate(180deg); }
  .main-btn--small {
    padding: 8px 14px; }
  .main-btn--medium {
    font-size: 24px; }
  .main-btn:hover {
    background: #527EA4;
    transition: .3s; }
  .main-btn:active {
    background: #07243C;
    color: #fff; }
  .main-btn--accent-color {
    background: #fff;
    color: #0F4C81; }
    .main-btn--accent-color:hover {
      background: #07243C;
      color: #fff;
      transition: .3s; }
  .main-btn--ghost {
    background: transparent;
    border: 1px solid #C4C4C4;
    color: #212121; }
  .main-btn--ghost:hover {
    transition: .3s;
    background: transparent;
    border: 1px solid #E1E5E9; }
  .main-btn--ghost:active {
    border: 1px solid #0F4C81;
    color: #0F4C81; }

@media (max-width: 768px) {
  .main-btn--medium {
    font-size: 14px; } }

.header-secondary {
  padding: 16px 0;
  background: #fff; }
  .header-secondary__container {
    display: flex;
    align-items: center; }
  .header-secondary__container {
    display: flex;
    align-items: center; }
  .header-secondary__logo {
    margin-right: auto;
    margin-left: auto; }

@media (max-width: 576px) {
  .header-secondary__logo {
    width: unset; } }

.navigation--secondary .navigation-list__item {
  padding: 0;
  margin-right: 40px;
  position: relative; }

.navigation--secondary .navigation-list__item:last-child {
  margin-right: 0; }

.navigation--secondary .navigation-list__link {
  padding: 10px 20px; }

.navigation--secondary .navigation-list__item:hover {
  background: #F0F2F4; }

.navigation--secondary .navigation-list__item:hover:after {
  content: ' ';
  display: block;
  position: absolute;
  height: 30px;
  top: -30px;
  bottom: 0;
  width: 100%;
  right: 0;
  left: 0;
  background: #F0F2F4; }

.navigation--secondary .navigation-list__item:hover:before {
  content: ' ';
  display: block;
  position: absolute;
  height: 26px;
  top: 26px;
  bottom: 0;
  width: 100%;
  right: 0;
  left: 0;
  background: #F0F2F4; }

.navigation--secondary .navigation-list__item:active {
  background: #E1E5E9; }

.navigation--secondary .navigation-list__item:active:after {
  content: ' ';
  display: block;
  position: absolute;
  height: 30px;
  top: -30px;
  bottom: 0;
  width: 100%;
  right: 0;
  left: 0;
  background: #E1E5E9; }

.navigation--secondary .navigation-list__item:active:before {
  content: ' ';
  display: block;
  position: absolute;
  height: 26px;
  top: 26px;
  bottom: 0;
  width: 100%;
  right: 0;
  left: 0;
  background: #E1E5E9; }

.navigation--secondary .navigation-list__item.active .navigation-list__link {
  color: #0F4C81; }

.navigation--secondary .navigation-list__item--has-input:last-child {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto; }

@media (max-width: 768px) {
  .navigation--secondary .navigation-list__icon {
    width: 24px;
    height: 24px; }
  .navigation--secondary .navigation-list__link {
    display: none; }
  .navigation--secondary .navigation-list__item:not(.navigation-list__item--has-input) {
    display: none; }
  .navigation--secondary .navigation-list__item--has-input:last-child {
    padding: 0; } }

@media (max-width: 576px) {
  .main-btn--back .main-btn__icon {
    margin-right: 0; }
  .header-secondary__logo {
    display: flex;
    justify-content: center; }
  .header-secondary__main-btn {
    font-size: 0; }
  .header-secondary--main-btn--no-gap {
    padding: 8px 12px; } }

.navigation--column .navigation-list {
  flex-direction: column; }

.navigation--column .navigation-list__item {
  margin-bottom: 16px;
  padding: 0; }

.navigation--column .navigation-list__item:last-child {
  padding: 0;
  margin-bottom: 0; }

.navigation-list {
  display: flex;
  list-style: none; }
  .navigation-list__link {
    text-decoration: none;
    white-space: nowrap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #212121; }
  .navigation-list__item {
    padding: 0 40px;
    display: flex;
    align-items: center; }
  .navigation-list__item--opacity .list__link {
    color: rgba(33, 33, 33, 0.5);
    pointer-events: none; }
  .navigation-list__item:last-child {
    padding: 0 20px; }

.navigation__icon--gap {
  margin-right: 8px; }

.list {
  display: flex;
  list-style: none; }
  .list__link {
    text-decoration: none;
    white-space: nowrap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #212121; }
  .list__item {
    padding: 0 40px;
    display: flex;
    align-items: center; }
  .list__item--opacity .list__link {
    color: rgba(33, 33, 33, 0.5); }
  .list__item:last-child {
    padding: 0 20px; }

.social-network-list {
  display: flex;
  list-style: none;
  align-items: center; }
  .social-network-list__link {
    display: flex; }
  .social-network-list__item {
    margin-right: 36px;
    position: relative; }
  .social-network-list__item:last-child {
    margin-right: 0; }
  .social-network-list__item:hover .social-network-list__icon {
    fill: #0F4C81;
    transition: .3s; }
  .social-network-list__icon {
    fill: rgba(33, 33, 33, 0.5); }
  .social-network-list--decoration .social-network-list__item:before {
    content: '';
    display: flex;
    width: 2.5px;
    height: 2.5px;
    background: #212121;
    border-radius: 100%;
    position: absolute;
    left: -24px;
    top: 50%; }

h5.footer__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: rgba(33, 33, 33, 0.5); }

.footer {
  padding: 40px 0 40px 0; }
  .footer__head {
    padding-bottom: 40px; }
  .footer__navs {
    display: flex; }
  .footer__navigation {
    margin-right: 80px; }
    .footer__navigation .navigation-list__item:not(.navigation-list__item--opacity):hover .list__link {
      color: #0F4C81; }
  .footer__navigation:last-child {
    margin-right: 0; }
  .footer__wrapper {
    display: flex; }
  .footer__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    margin-bottom: 16px; }
  .footer__block {
    margin-left: auto;
    display: flex;
    flex-direction: column; }
  .footer__copyright {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    letter-spacing: 0.02em;
    color: #212121;
    flex-grow: 1; }

@media (max-width: 1130px) {
  .footer__navs {
    margin-bottom: 32px; }
  .footer__wrapper {
    flex-direction: column; }
  .footer__block {
    margin-left: 0; }
  .footer__social-network-list {
    margin-bottom: 36px; }
  .footer__navigation .list__item {
    margin-right: 0; } }

@media (max-width: 768px) {
  .footer {
    padding: 32px 24px 32px 24px; }
    .footer__navs {
      flex-wrap: wrap;
      width: 100%; }
    .footer__navigation {
      margin-right: 24px;
      margin-bottom: 32px; }
    .footer__navigation:nth-child(even) {
      margin-right: 0; }
    .footer__navigation:nth-child(odd) {
      width: 40%; }
    .footer__navigation:nth-child(n+2) {
      margin-bottom: 0; } }

@media (max-width: 460px) {
  .footer {
    padding: 24px 12px 24px 12px; } }

.section-contacts {
  padding-bottom: 116px;
  padding-top: 28px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.25); }
  .section-contacts__title {
    margin-bottom: 32px; }
  .section-contacts__paragraph {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #212121;
    margin-bottom: 80px; }

.list-contacts__link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #0F4C81; }

.list-contacts__subtitle {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #212121;
  margin-bottom: 26px;
  display: flex; }

.list-contacts__item {
  list-style: none;
  margin-bottom: 32px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #212121; }

@media (max-width: 768px) {
  .section-contacts {
    padding-bottom: 32px; }
    .section-contacts__title {
      margin-bottom: 16px; }
    .section-contacts__paragraph {
      margin-bottom: 40px;
      line-height: 19px; }
  .list-contacts__item {
    margin-bottom: 24px; }
  .list-contacts__subtitle {
    margin-bottom: 16px; } }

